*{
    font-family: 'inter';
    margin: 0px;
}

#menusuperior {
    background-color: #303030;
    color: aliceblue;
}

#tituloMenuSuperior {

    margin-left: 50px;  

    padding-top: 150px;
}

 

#textoMenuSuperior{

     margin-left: 50px;
    
    padding-top: 20px;
    
    padding-bottom: 100px;
    
}


#menuInformacional {
    display: grid;
    grid-auto-flow: column;
    columns:auto;
    margin: 50px 0px 50px 100px;
}



#secaoFoto {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#sala {
    width: 300px;
    margin: 50px 0px 50px 0px;
}

#tituloSecaoFoto {
    color: #000000;
    margin-top: 120px;
    margin-left: 50px;
}

#textoSecaoFoto {
    margin-left: 50px;

}



#formulario {
    padding: 50px;
    background-color: #303030;
    color: #FFFFFF;
    text-align: center;
}


#tituloFormulario{
    margin-bottom: 20px;
}
.campo {
    margin: 15px;
    height: 72px;
    width: 508px;
    border: none;
    border-radius: 15px;
    padding-left: 30px;
    font-size: 18px ;
}

button {
    margin-top: 50px;
    color: #FFFFFF;
    background-color: #C07212;
    border: none;
    border-radius: 15px;
    height: 72px;
    width: 300px;
    font-size: 26px ;

    cursor: pointer;
}

button:hover {
    transform: translateY(-7px);
    transition-duration: 0.8s;
    background-color:#e6850eec;
    box-shadow: 0px 15px 15px #bda68a36;
    color: #f7f7f7;
    
}